

.label_content {
    display: block;
    position: relative;
    
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.label_name {
    width: 95%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    
    font-size: 25px;
    font-weight: 400;
    color: var(--label-name-color);
    
    padding-left: 55px;
    transition: all ease-in-out 0.1s;
}
.label_content input:checked ~ .label_name {
    color: var(--input-text-color);
    text-decoration: line-through;
}
.label_content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--white);
    border: 1px solid var(--border-checkbox);
    border-radius: 5px;

    transition: all ease-in-out 0.1s;
}
.label_content input:checked ~ .checkmark {
    background-color: var(--main-color);  
    border: 1px solid var(--main-color);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.label_content input:checked ~ .checkmark:after {
    display: block;
}
.label_content .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 700px) {
    .label_content p {
        padding-left: 40px;
        font-size: 18px;
    }
    .checkmark {
        height: 18px;
        width: 18px;
    }
    .label_content .checkmark:after {
        left: 5px;
        top: 2px;
        
        width: 3px;
        height: 8px;
    }
}