

.enterTask_section {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 25px 50px;
}
.task_form {
   width: 100%;
   height: auto;

   display: flex;
   align-items: center;
   justify-content: space-between;
}
.task_form button {
    border-radius: 50%;
    background-color: var(--secondary-color);

    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    outline: none;
    border: none;
}
.input_form {
    width: 100%;
    max-width: 85%;
    height: auto;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    column-gap: 15px;
    padding: 0 10px;
    border-bottom: 1px solid var(--input-text-color);
}
.listIcon {
    width: 25px;
    height: 25px;
    color: var(--input-text-color);
}
.input_form input {
    width: 100%;
    height: auto;

    padding: 10px 0;

    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: var(--label-name-color);

    outline: none;
    border: none;
}
.input_form input::placeholder {
    color: var(--input-text-color);
}
.addIcon {
    width: 30px;
    height: 30px;
    color: var(--white);
}
.task_length {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    column-gap: 5px;
    margin: 20px 0;
}
.task_length span {
    font-size: 20px;
    color: var(--main-color);
}
.task_length p {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-color);
}

@media screen and (max-width:700px) {
    .enterTask_section {
        padding: 20px 25px;
    }
    .task_form button {
        padding: 12px;
    }
    .listIcon {
        width: 20px;
        height: 20px;
    }
    .input_form input {
        font-size: 18px;
    }
    .addIcon {
        width: 20px;
        height: 20px;
    }
    .task_length span, .task_length p {
        font-size: 16px;
    }
}
