@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Poppins', sans-serif;

    background: #23074d;  
    background: -webkit-linear-gradient(to left, #cc5333, #23074d);  
    background: linear-gradient(to left, #cc5333, #23074d); 
}


.App {
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_content {
    width: 100%;
    max-width: 700px;
    height:90%;

    display: flex;
    flex-direction: column;

    border-radius: 10px;
    background: #FFF; 
}
:root {
    --main-color: #BF1B42;
    --secondary-color: #CC6167;
    --label-name-color: #252525;
    --input-text-color: #BBB;
    --white: #FFF;
    --border-checkbox: #9c9c9c;
}
.darkmode:root {

}

@media screen and (max-width:700px) {
    .main_content {
        max-width: 100%;
        height: 100%;
        
        border-radius: 0;
    }
}

