

.itemList {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 25px 25px 50px;
    border-bottom: 1px solid #bbbbbb9a;
}
.item {
    width: 100%;
    height: auto;
}
.delete {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--secondary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    outline: none;
    border: none;
}
.deleteIcon {
    width: 30px;
    height: 30px;
    color: var(--white);
}

@media screen and (max-width:700px){
    .itemList {
        padding: 20px 25px;
    }
    .delete {
        padding: 12px;
    }
    .deleteIcon {
        width: 20px;
        height: 20px;
    }
}