

.itemList {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 0;
    border-bottom: 1px solid #bbbbbb60;
}
.item {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    column-gap: 25px;
}
.item input {
    width: 25px;
    height: 25px;
}
.item p {
    font-size: 25px;
    font-weight: 400;
    color: #252525;
}
.delete {
    padding: 15px;
    border-radius: 50%;
    background-color: #CC6167;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    outline: none;
    border: none;
}
.deleteIcon {
    width: 30px;
    height: 30px;
    color: #FFF;
}

@media screen and (max-width:700px){
    .itemList {
        padding: 18px 0;
    }
    .item input {
        width: 18px;
        height: 18px;
    }
    .item p {
        font-size: 18px;
    }
    .delete {
        padding: 12px;
    }
    .deleteIcon {
        width: 20px;
        height: 20px;
    }
}